body{
    background-color: lightgrey;
    padding-top: 10px;
    padding-left: 10px;
}

.header{
    padding-left: 5px;
    padding-right: 200px;
    background-color: darkred;
    font-size: 60px;
}

.header a {
    text-decoration: none;
    color: burlywood;
    padding:0 20px;
    border-right: 3.5px solid burlywood;
}

.home-page {
    font-size: 200px;
    text-align: center;
}

.table {
   margin: 50px auto;
   width: 1500px;
   background-color:darkgray;
   color: lightgoldenrodyellow;
   font-size: 30px;
}
.table td {
    width: 20%;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
    line-height: 50px;
    text-align: center;
}
.modify{
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: bold;
    background-color: darkslategrey;
    color: lightgray;
}

.delete{
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: bold;
    background-color: darkred;
    color: lightgray;
}

section{
    margin-top: 50px;
}
label{
    font-size: 40px;
    padding-right: 54px;
    padding: 5px;

}

input{
    size: 100px;
    font-size: 40px;
    padding: 5px;

}